.removeOption {
    cursor: pointer !important;
    color: red;
    border: 1px solid;
    padding: 5px 5px 5px 5px;
}

.notification-bar {
    /* padding: 10px 372px; */
    color: white;
}

.notification-bar span {
margin-left: 99%;
    cursor: pointer;
}
.success-message {
    border: 2px solid green;
    background-color: green;
}

.error-message {
    border: 2px solid red;
    background-color: red;
}
.success-text {
    margin-top: -18px;
    padding: 10px;
}